.about {
    padding-top: 161px;

    &__wrapper {
        display: flex;
        align-items: flex-start;
    }

    &__text {
        font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
        font-size: 40px;
        line-height: 44px;
        font-weight: 900;
        text-transform: uppercase;
        color: $dark;
        max-width: 700px;
        margin-left: 187px;
    }
}
