.hero {
    position: relative;
    background-color: $red;
    height: 875px;
    overflow: hidden;

    .container {
        height: 100%;
        @media (max-width: 1023px) {
            height: 100%;
        }
    }

    &__wrapper {
        position: relative;
        min-height: 100%;
    }

    &__info {
        position: relative;
        z-index: 20;
        padding-top: 234px;

        @media (max-width: 1023px) {
            height: 100%;
            padding-top: 112px;
        }
    }

    &__title {
        font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
        font-size: 64px;
        line-height: 64px;
        font-weight: 900;
        color: white;
        text-transform: uppercase;

        @media (max-width: 1023px) {
            font-size: 32px;
            line-height: 32px;
        }
    }

    &__title-btn {
        display: inline-block;
        width: 55px;
        height: 55px;
        background-color: white;
        border-radius: 50%;
        transform: translateY(5px);
        background-image: url('../images/arrow-red-down.svg');
        background-repeat: no-repeat;
        background-size: 15px 13px;
        background-position: center;
        animation: slideY .8s linear infinite;

        @media (max-width: 1023px) {
            width: 27px;
            height: 27px;
            background-size: 7px 6px; 
        }
    }

    &__subtitle {
        font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        color: white;
        margin-top: 27px;

        @media (max-width: 1023px) {
            font-size: 14px;
            line-height: 18px;
            margin-top: 24px;
            max-width: 200px;
        }
    }

    &__btn {
        margin-top: 68px;
        transition: all .3s ease-out;

        @media (max-width: 1023px) {
            margin-top: 212px;
        }

        &:hover {
            background-color: $red-dark;
            color: white;
        }
    }

    &__note {
        position: absolute;
        bottom: 80px;
        right: 0;
        box-sizing: border-box;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(30px);
        border-radius: 16px;
        font-family: "Roboto", Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 20px;
        color: white;
        font-weight: 400;
        padding: 25px 34px 26px 24px;
        max-width: 265px;
        z-index: 20;

        @media (max-width: 1023px) {
            display: none;
        }
    }

    &__girl {
        position: absolute;
        top: 0;
        bottom: -5px;
        right: 85px;
        width: 54.375%;
        height: 120%;
        max-width: 783px;
        transform: translateY(-70px);

        img {
            width: auto;
            height: 100%;

            @media (max-width: 1363px) {
                width: 100%;
                height: auto;
                margin-top: auto;
            }

            @media (max-width: 1023px) {
                margin-top: 0;
                height: 100%;
            }
        }

        @media (max-width: 1363px) {
            height: 100%;
            top: auto;
            transform: translateY(0);
            display: flex;
            flex-direction: column;
            right: 4px;
        }

        @media (max-width: 1023px) {
            width: 427px; //286
            height: 597px; //400
            display: block;
            top: auto;
            bottom: -40px;
            right: auto; //-120
            left: 40%;
        }

        @media (max-width: 699px) {
            width: 286px; 
            height: 400px;
            left: auto;
            right: -60px;
        }
    }

    @media (max-width: 1023px) {
        height: 626px;
    }
}

@keyframes slideY {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(5px); 
    }
    100% {
        transform: translateY(0); 
    }
}
