.real-estate {
    margin-top: 200px;

    &__title {
        font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: 900;
        line-height: 40px;
        text-transform: uppercase;
        color: $dark;
        margin-left: 20.230%;

        @media (max-width: 1023px) {
            margin-left: 0;
            font-size: 16px;
            line-height: 24px; 
        }
    }

    &__lines {
        margin-top: 65px;
        overflow: hidden;

        @media (max-width: 1023px) {
            margin-top: 24px;
        }
    }

    &__line {
        display: flex;
    
        &-item, &-bull {
            white-space: nowrap;
            flex-shrink: 0;
            user-select: none;
            font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
            font-size: 96px;
            font-weight: 900;
            line-height: 96px; 
            letter-spacing: -2.88px;
            text-transform: uppercase;
            color: #B6B6B6;
            transition: color .3s ease-out;

            @media (max-width: 1023px) {
                font-size: 36px;
                line-height: 40px;
                letter-spacing: -1.08px;
            }
        }

        &-item:hover {
            color: $red;
        }

        &-one {
            display: flex;
            animation: loop 40s linear infinite;
        }

        &-two {
            display: flex;
            animation: loop 40s linear infinite;
            animation-direction: reverse;
        }

        &.first:hover &-one {
            animation-play-state: paused;
        }

        &.second:hover &-two {
            animation-play-state: paused;
        }
    }

    @media (max-width: 1023px) {
        margin-top: 90px;
    }

}

@keyframes loop {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
}
