.why {
    padding-top: 400px;

    &__wrapper {
        display: flex;
        justify-content: space-between;

        @media (max-width: 1023px) {
            flex-direction: column;
        }
    }

    &__left {
        margin-right: 15.153%;

        @media (max-width: 1023px) {
            margin-right: 0;
        }
    }

    &__right {
        min-width: 0;
        width: 100%;
        flex-shrink: 1;

        &-wrap {
            width: 100%;
            max-width: 766px; 
        }
    }

    &__text {
        font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
        font-size: 40px;
        line-height: 40px;
        font-weight: 900;
        color: $dark;
        text-transform: uppercase;

        @media (max-width: 1023px) {
            font-size: 24px;
            line-height: 24px;
            max-width: 358px;
            margin-top: 24px;
        }
    }

    &__gallery {
        position: relative;
        margin-top: 42px;
        max-width: 100%;

        .slider__controls {
            position: absolute;
            right: 0;
            bottom: -10px;
            z-index: 30;

            @media (max-width: 699px) {
                bottom: -5px;
            }
        }

        @media (max-width: 1023px) {
            margin-top: 24px;
        }
    }

    &__slider {
        min-width: 0;
        width: 100%;
        max-width: 766px;
        position: relative;
        z-index: 20;

        .slick-list {
            overflow: hidden;
            max-width: 100%;
        }

        .slick-track{
            display: flex;
            overflow: hidden;
        }

        .slick-slide {
            max-width: 100%;
            flex-shrink: 1;
        }

    }

    &__slider-item {
        max-width: 100%;
        flex-shrink: 1;

        &-image {
            width: 100%;
            height: 458px;
            border-radius: 24px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            @media (max-width: 699px) {
                height: 214px;
            }
        }

        &-sign {
            font-family: "Caveat", Arial, Helvetica, sans-serif;
            font-size: 36px;
            line-height: 28px;
            font-weight: 400;
            color: $red;
            max-width: 571px;
            margin-top: 27px;

            @media (max-width: 699px) {
                font-size: 20px;
                line-height: 16px;
                max-width: 185px;
                margin-top: 16px;
            }
        }
    }

    @media (max-width: 1023px) {
        padding-top: 90px;
    }

}

