.why {
    padding-top: 200px;

    &__wrapper {
        display: flex;
    }

    &__left {
    }

    &__right {
        width: 100%;
        max-width: 766px;
        margin-left: 197px;
    }

    &__text {
        font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
        font-size: 40px;
        line-height: 40px;
        font-weight: 900;
        color: $dark;
        text-transform: uppercase;
    }

    &__gallery {
        position: relative;
        margin-top: 42px;

        .slider__controls {
            position: absolute;
            right: 0;
            bottom: -10px;
            z-index: 30;
        }
    }

    &__slider {
        width: 100%;
        position: relative;
        z-index: 20;

        .slick-list {
            overflow: hidden;
        }

        .slick-track{
            display: flex;
            overflow: hidden;
        }
    }

    &__slider-item {

        &-image {
            width: 100%;
            height: 458px;
            border-radius: 24px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-sign {
            font-family: "Caveat", Arial, Helvetica, sans-serif;
            font-size: 36px;
            line-height: 28px;
            font-weight: 400;
            color: $red;
            max-width: 571px;
            margin-top: 27px;
        }
    }

}

